@import base/variables

*
    font-family: 'Montserrat', sans-serif

body
    background-color: #0b0b0b

.container
    width: 1440px
    margin: 0 auto
    position: relative

@import blocks/header
@import blocks/main
@import blocks/button
@import blocks/gallery
@import blocks/services
@import blocks/price
@import blocks/team
@import blocks/leader-card
@import blocks/instafeed
@import blocks/partner
@import blocks/present
@import blocks/map
@import blocks/footer

@media ( max-width: 1140px )
    .container
        width: 1140px
        margin: 0 auto
    