.button
    height: 54px
    width: 240px
    border: none
    border-radius: 5px
    background-color: $main-color
    font-size: 18px
    color: $text-main-color
    text-align: center
    transition: 0.5s
    &:hover
        background-color: #da0083
    &:focus
        outline: none
    &_main
        display: block
        margin: 0 auto
        margin-top: 50px
    &_gallery
        width: 370px
        margin-top: 25px
    &_leader-card
        width: 250px
        margin-top: 35px

